body {
  background-color: #07031a;
  background-image: linear-gradient(
    to right bottom,
    rgba(195, 62, 62, 0.376),
    rgba(122, 4, 4, 0.63)
  );
  margin-top: 0;
  padding: 0;
}

h1 {
  color: #c5d0ce;
  margin-top: 20px;
  padding: 0;
  padding: 20px 0;
  font-size: 60px;
  font-family: "Bangers", cursive;
  opacity: 0.5;
}

button {
  font-family: "Bangers", cursive;
  opacity: 0.75;
  margin-left: 5px;
}

.go {
  padding-bottom: 5px;
  margin-bottom: 5px;
}

input {
  font-family: "Bangers", cursive;
  width: 260px;
  height: 32px;
  margin-left: 50px;
  background-color: inherit;
  outline-style: none;
  border: 0;
  color: rgba(177, 170, 170, 0.663);
  font-size: 18px;
}

.search {
  margin-top: 6px;
}

.searchBox {
  border: solid 1px inherit;
  border-radius: 999px;
  padding: 12px;
  box-shadow: 2px 2px 2px 2px rgba(122, 4, 4, 0.53),
    2px 2px 2px 2px rgba(122, 4, 4, 0.63);
}

.searchBoxOuter {
  padding: 0 12%;
}

.first {
  padding: 0;
  background-image: linear-gradient(
    to right bottom,
    rgba(195, 62, 62, 0.376),
    rgba(122, 4, 4, 0.63)
  );
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.29);

  margin: 20px 100px;
  display: flex;
  display: flex;
  flex-wrap: wrap;
}
.first-inner {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.start {
  height: 300px;
  background-position: right;
  text-align: center;
  background-image: linear-gradient(
      to right bottom,
      rgba(195, 62, 62, 0.376),
      rgba(122, 4, 4, 0.63)
    ),
    url("https://i.gifer.com/3Iu4.gif");
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
  background-size: cover;
}

.start-outer {
  padding: 0 100px;
}

img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
  width: 100%;
  margin: 5px 0;
}

img:hover {
  transform: scale(1.01) translateY(0.2rem);
  -webkit-filter: drop-shadow(1.5px 1.5px 4px #222);
  filter: drop-shadow(1.5px 1.5px 4px #222);
  z-index: 20;
  cursor: pointer;
}

.img-wrap {
  text-align: center;
  position: relative;
}

.copy {
  visibility: hidden;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: "Bangers", cursive;
  opacity: 0;
  display: inline-block;
}

.img-wrap:hover .copy {
  visibility: visible;
  opacity: 0.6;
  background-color: gray;
  cursor: pointer;
}

@media (min-width: 1234px) {
  .searchBoxOuter {
    padding: 0 30%;
  }
}
@media (max-width: 1234px) {
  .searchBoxOuter {
    padding: 0 27%;
  }
}
@media (max-width: 1063px) {
  .start-outer {
    padding: 0 75px;
  }
  .first {
    margin: 20px 75px;
  }
  .copy {
    font-size: 25px;
  }

  h1 {
    transform: scale(0.95);
  }
  .searchBox {
    transform: scale(0.9);
  }
}
@media (max-width: 1030px) {
  .searchBoxOuter {
    padding: 0 25%;
  }
}

@media (max-width: 1014px) {
  .start-outer {
    padding: 0 65px;
  }
  .first {
    margin: 20px 65px;
  }
  .searchBox {
    padding: 8px;
  }
}

@media (max-width: 993px) {
  .start-outer {
    padding: 0 40px;
  }
  .first {
    margin: 20px 40px;
  }
  h1 {
    transform: scale(0.92);
  }
  .searchBox {
    transform: scale(0.84);
  }
  .copy {
    font-size: 22px;
  }
  .searchBoxOuter {
    padding: 0 20%;
  }
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 770px) {
  .searchBoxOuter {
    padding: 0 14%;
  }
  .start-outer {
    padding: 0 25px;
  }
  .first {
    margin: 20px 25px;
  }
  h1 {
    margin-top: 15px;
  }
}
@media (max-width: 680px) {
  h1 {
    transform: scale(0.9);
  }
  .searchBox {
    transform: scale(0.8);
  }
  .copy {
    font-size: 21px;
  }

  .start-outer {
    padding: 0 10px;
  }
  .first {
    margin: 20px 10px;
  }
}
@media (max-width: 577px) {
  .searchBoxOuter {
    padding: 0 10%;
  }
  .searchBox {
    transform: scale(0.76);
  }
  .copy {
    font-size: 20px;
  }
  .start-outer {
    padding: 0;
  }
  .first {
    margin: 20px 0px;
  }
  h1 {
    margin-top: 10px;
  }
}
@media (max-width: 539px) {
  .copy {
    font-size: 18px;
  }
}
@media (max-width: 507px) {
  .searchBoxOuter {
    padding: 0 6%;
  }
}

@media (max-width: 455px) {
  .searchBox {
    transform: scale(0.7);
  }
  .searchBoxOuter {
    padding: 0;
  }
  .copy {
    font-size: 16px;
  }
  .first {
    margin: 16px 0px;
  }
  h1 {
    margin-top: 5px;
    transform: scale(0.85);
  }
}

@media (max-width: 400px) {
  .searchBox {
    transform: scale(0.65);
  }

  .copy {
    font-size: 15px;
  }
  .first {
    margin: 15px 0px;
  }
  h1 {
    transform: scale(0.81);
  }
}
